@media only screen and (max-width: 600px) and (min-width: 0px){

	.topbar{
	  	padding-top: 15px;
	}
		
  .container{
	width: 100%;
   }
  .hideitem{
  	display: none;
  }

	.intro{
		background-size: 100%;
	}

	.introrow{
		top: 15%;
	}

	.introrow{
		top: 30%;
		position: absolute;
    	left: 50%;
	    transform: translate(-50%, -50%);

	}

	.name{
		font-size: 39px;
	}

	.designation{
		font-size: 21px;
	}
}
