@font-face {
  font-family: sfpro;
  src: url(../fonts/FontsFree-Net-SFProText-Regular.ttf);
}
@font-face {
  font-family: sfprobold;
  src: url(../fonts/SFProText-Bold.ttf);
}
@font-face {
  font-family: sfprosemibold;
  src: url(../fonts/SFProText-SemiBold.ttf);
}

@font-face{
	font-family: bebas;
	src: url(../fonts/BebasNeue-Regular.ttf);
}

body{
	background-color: white;
	font-family: "sfpro";
	color: black;
	-webkit-transition: all 0.15s ease; -moz-transition: all 0.15s ease; transition: all 0.15s ease;
	background-size: 200% 100%; 
	background-position: 100% 0; 
	background-image: linear-gradient(to left, transparent 50%, rgba(20,20,26,1) 50%);
}

.bgcolor{
	/*background-color: #14141A;*/
  background-position: 0 0;
}

.container{
	width: 1440px;
}

.topbar{
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  	padding-top: 50px;
  	height: 150px;
}

.logo{
	width: 70px;
	height: 12px;
}

.menu{
	overflow: hidden;
}

.menuitem{
	font-family: "sfprosemibold";
	color: #686868;
}

.active{
	color: #FFFFFF;
}

.activechar{
	border-bottom: 1px solid #FF0053;
}


.content{
	height: 100vh;
}

.intro{
	background-position: center bottom;
	transition: opacity 0.1s ease-out, transform 0.1s;
	background-repeat: no-repeat;
	background-size: 60%;
	opacity: 0;
	background-image: url("../images/face.png");
}

.introbg{
	opacity: 1;
}

.introrow{
	top: 45%;
	position: fixed;
}

.namesection{
	display: table-cell;
    vertical-align: middle;
}

.name{
	font-family: "bebas";
	font-size: 80px;
	color: #FF0053;
	line-height: 100px;
	overflow: hidden;
}

.designation{
	font-family: "sfpro";
	font-size: 30px;
	color: #FF0053;
	line-height: 36px;
	overflow: hidden;
}

.hold{
	transform: translateY(100px)
}

.moveupanim{
	transform: translateY(0px);
	transition: opacity 0.5s ease-out, transform 0.5s;
}

.scrollmore{
	display: block;
	position: absolute;
	bottom: 0%;
	left: 80%;
}

.scrollmore svg{
	width: 85px;
	height: 37px;
}